In [17]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# Reading Datasets
df = pd.read_csv("BankCustomerData.csv")
pd.set_option('display.max_columns',None)

In [18]:
# Descriptive Analysis
def check_df(dataframe, head=5, tail=5, quan=True):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(head))
    print("##################### Tail #####################")
    print(dataframe.tail(tail))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())

    if quan:
        print("##################### Quantiles #####################")
        print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

check_df(df, head=5, tail=5)

##################### Shape #####################
(42639, 17)
##################### Types #####################
age                  int64
job                 object
marital             object
education           object
default             object
balance              int64
housing             object
loan                object
contact             object
day                  int64
month               object
last_transaction     int64
campaign             int64
pdays                int64
previous             int64
poutcome            object
term_deposit        object
dtype: object
##################### Head #####################
   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  last_transaction  campaign  pdays  previous poutcome  \
0  unknown    5   may               261         1     -1         0  unknown
1  unknown    5   may               151         1     -1         0  unknown
2  unknown    5   may                76         1     -1         0  unknown
3  unknown    5   may                92         1     -1         0  unknown
4  unknown    5   may               198         1     -1         0  unknown

  term_deposit
0           no
1           no
2           no
3           no
4           no
##################### Tail #####################
       age          job  marital  education default  balance housing loan  \
42634   21      student   single  secondary      no     2488      no   no
42635   87      retired  married    primary      no     2190      no   no
42636   34  blue-collar  married    primary      no     6718      no   no
42637   22      student   single  secondary      no      254      no   no
42638   32   management   single   tertiary      no     1962      no   no

         contact  day month  last_transaction  campaign  pdays  previous  \
42634  telephone   12   jan               661         2     92         1
42635  telephone   12   jan               512         2     -1         0
42636   cellular   13   jan               278         4     97         1
42637   cellular   13   jan               143         2     -1         0
42638   cellular   13   jan               130         1     -1         0

      poutcome term_deposit
42634  success          yes
42635  unknown          yes
42636    other           no
42637  unknown          yes
42638  unknown           no
##################### NA #####################
age                 0
job                 0
marital             0
education           0
default             0
balance             0
housing             0
loan                0
contact             0
day                 0
month               0
last_transaction    0
campaign            0
pdays               0
previous            0
poutcome            0
term_deposit        0
dtype: int64
##################### Quantiles #####################
                    0.00   0.05   0.50    0.95      0.99      1.00
age                 18.0   27.0   39.0    58.0     66.00      95.0
balance          -8019.0 -192.0  429.0  5733.0  13156.00  102127.0
day                  1.0    3.0   16.0    30.0     31.00      31.0
last_transaction     0.0   35.0  177.0   753.0   1272.62    4918.0
campaign             1.0    1.0    2.0     8.0     17.00      63.0
pdays               -1.0   -1.0   -1.0   301.0    365.00     536.0
previous             0.0    0.0    0.0     3.0      7.00     275.0

In [20]:
# Selection of Categorical and Numerical Variables
def grab_col_names(dataframe, cat_th=10, car_th=30):
    # cat_cols, cat_but_car
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"]

    num_but_cat = [col for col in dataframe.columns if dataframe[col].nunique() < cat_th and
                   dataframe[col].dtypes != "O"]

    cat_but_car = [col for col in dataframe.columns if dataframe[col].nunique() > car_th and
                   dataframe[col].dtypes == "O"]

    cat_cols = cat_cols + num_but_cat

    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    # num_cols
    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes != "O"]

    num_cols = [col for col in num_cols if col not in num_but_cat]

    print(f"Variables: {dataframe.shape[1]}")
    print(f'cat_cols: {len(cat_cols)}')
    print(f'num_cols: {len(num_cols)}')
    print(f'cat_but_car: {len(cat_but_car)}')
    print(f'num_but_cat: {len(num_but_cat)}')

    return cat_cols, num_cols, cat_but_car

cat_cols, num_cols, cat_but_car = grab_col_names(df)

Variables: 17
cat_cols: 10
num_cols: 7
cat_but_car: 0
num_but_cat: 0

In [22]:
# General View to Categorical Datas
def cat_summary(dataframe):
    # cat_cols = grab_col_names(dataframe)["Categorical_Data"]
    for col_name in cat_cols:
        print("############## Frequency & Percentage Values of Categorical Datas ########################")
        print(pd.DataFrame({col_name: dataframe[col_name].value_counts(),
                            "Ratio": dataframe[col_name].value_counts() / len(dataframe)}))

cat_summary(df)

############## Frequency & Percentage Values of Categorical Datas ########################
                job     Ratio
blue-collar    9536  0.223645
management     8851  0.207580
technician     7223  0.169399
admin.         4810  0.112808
services       4033  0.094585
retired        1880  0.044091
self-employed  1500  0.035179
entrepreneur   1453  0.034077
unemployed     1193  0.027979
housemaid      1178  0.027627
student         718  0.016839
unknown         264  0.006192
############## Frequency & Percentage Values of Categorical Datas ########################
          marital     Ratio
married     25868  0.606675
single      11806  0.276883
divorced     4965  0.116443
############## Frequency & Percentage Values of Categorical Datas ########################
           education     Ratio
secondary      22066  0.517507
tertiary       12302  0.288515
primary         6581  0.154342
unknown         1690  0.039635
############## Frequency & Percentage Values of Categorical Datas ########################
     default    Ratio
no     41828  0.98098
yes      811  0.01902
############## Frequency & Percentage Values of Categorical Datas ########################
     housing     Ratio
yes    24590  0.576702
no     18049  0.423298
############## Frequency & Percentage Values of Categorical Datas ########################
      loan     Ratio
no   35554  0.833838
yes   7085  0.166162
############## Frequency & Percentage Values of Categorical Datas ########################
           contact     Ratio
cellular     27218  0.638336
unknown      12776  0.299632
telephone     2645  0.062032
############## Frequency & Percentage Values of Categorical Datas ########################
     month     Ratio
may  13532  0.317362
jul   6587  0.154483
aug   5987  0.140411
jun   5128  0.120265
nov   3895  0.091348
apr   2718  0.063744
feb   2296  0.053847
jan   1224  0.028706
oct    518  0.012149
sep    282  0.006614
mar    258  0.006051
dec    214  0.005019
############## Frequency & Percentage Values of Categorical Datas ########################
         poutcome     Ratio
unknown     36085  0.846291
failure      4271  0.100167
other        1517  0.035578
success       766  0.017965
############## Frequency & Percentage Values of Categorical Datas ########################
     term_deposit     Ratio
no          38678  0.907104
yes          3961  0.092896

In [24]:
# General View to Numerical Datas

num_cols = [col for col in df.columns if df[col].dtypes !="O" and col not in ["day","campaign","pdays","previous"]]
numerical_col = num_cols

def num_summary(dataframe, numerical_col):

    quantiles = [0.05, 0.10, 0.20, 0.30, 0.40, 0.50, 0.60, 0.70, 0.80, 0.90, 0.95, 0.99]
    print("########## Summary Statistics of " + numerical_col + " ############")
    print(dataframe[numerical_col].describe(quantiles).T)

for col in num_cols:
    num_summary(df, col)

########## Summary Statistics of age ############
count    42639.000000
mean        40.788808
std         10.200236
min         18.000000
5%          27.000000
10%         29.000000
20%         32.000000
30%         34.000000
40%         36.000000
50%         39.000000
60%         42.000000
70%         46.000000
80%         50.000000
90%         56.000000
95%         58.000000
99%         66.000000
max         95.000000
Name: age, dtype: float64
########## Summary Statistics of balance ############
count     42639.000000
mean       1331.863951
std        3011.537676
min       -8019.000000
5%         -192.000000
10%           0.000000
20%          17.000000
30%         119.000000
40%         257.000000
50%         429.000000
60%         676.000000
70%        1086.600000
80%        1804.000000
90%        3517.200000
95%        5733.000000
99%       13156.000000
max      102127.000000
Name: balance, dtype: float64
########## Summary Statistics of last_transaction ############
count    42639.000000
mean       255.957504
std        258.361368
min          0.000000
5%          35.000000
10%         58.000000
20%         88.000000
30%        115.000000
40%        144.000000
50%        177.000000
60%        219.000000
70%        275.000000
80%        364.000000
90%        546.000000
95%        753.000000
99%       1272.620000
max       4918.000000
Name: last_transaction, dtype: float64

In [26]:
# Data Analysis

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

def data_analysis(dataframe):
    # mean, min, max amount of balance, last transaction and age by job, marital and education.
    print(dataframe.groupby(["job","marital","education"]).agg({"balance" : ["mean","min","max"],
             "last_transaction" : ["mean","min","max"],
             "age" : ["mean","min","max"]}))


data_analysis(df)

                                      balance               last_transaction  \
                                         mean   min     max             mean
job           marital  education
admin.        divorced primary    1219.172414  -347    9569       202.655172
                       secondary   836.379645  -811   18268       262.612278
                       tertiary    757.959184  -363    4708       198.204082
                       unknown    1046.611111   -70    4246       391.666667
              married  primary     933.445205  -516   11686       237.979452
                       secondary  1247.443470 -1601   58544       245.757310
                       tertiary   1159.735294 -1011   12634       201.161765
                       unknown    2172.840426 -1137   64343       224.000000
              single   primary     554.700000  -263    2805       226.866667
                       secondary   964.326373 -1193   56831       255.122196
                       tertiary   1444.429185  -898   45789       208.914163
                       unknown     516.883721  -612    2736       295.046512
blue-collar   divorced primary     869.764151  -677   10374       286.735849
                       secondary   740.354167 -2093   15187       268.611979
                       tertiary   1395.333333   257    3547       226.666667
                       unknown     756.605263  -473   10287       228.605263
              married  primary    1120.386159 -1489   66653       246.934256
                       secondary  1092.572940 -1725   58932       261.074053
                       tertiary   1718.586207  -534   17672       361.551724
                       unknown    1052.977564 -1050   17983       253.625000
              single   primary    1015.527559 -2604   24277       275.885827
                       secondary  1059.290578 -8019   19833       287.966746
                       tertiary   1366.186667  -701   14058       272.800000
                       unknown    1169.884211  -933    6622       271.505263
entrepreneur  divorced primary     415.111111  -736    2648       294.555556
                       secondary   734.582090  -934   10350       221.611940
                       tertiary   1490.393617  -869   22946       259.936170
                       unknown    1855.333333  -701    4736       575.166667
              married  primary    1831.174194  -786   52499       255.077419
                       secondary  1067.732143 -2082   27624       266.788265
                       tertiary   2033.262443  -886   51439       235.990950
                       unknown    1710.189655 -1445   20584       233.189655
              single   primary     963.777778  -849    7264       259.888889
                       secondary  1175.104478  -200   20453       297.507463
                       tertiary   1375.285714  -961   59649       277.939850
                       unknown     647.083333     0    2351       239.750000
housemaid     divorced primary    1190.409639   -21    9059       266.024096
                       secondary  1520.686567  -621   45141       262.194030
                       tertiary   2743.277778     0    9767       220.111111
                       unknown    3367.666667   603   11632        64.000000
              married  primary    1086.307368  -972   15352       236.978947
                       secondary  1316.100386 -1531   20187       234.196911
                       tertiary   1372.715596 -1941   11219       248.697248
                       unknown    2843.625000    -6   21244       207.812500
              single   primary     987.157895 -1006   10889       368.815789
                       secondary  2019.346154  -319   26172       208.423077
                       tertiary   2554.030303     0   23663       326.393939
                       unknown    3070.500000     0    6020       205.666667
management    divorced primary    1426.640000   -17   13308       205.280000
                       secondary   797.503650  -852   10834       273.897810
                       tertiary   1703.483945 -4057   66721       253.760321
                       unknown    1599.344828     0    7702       253.482759
              married  primary    1753.028455 -1161   22856       220.813008
                       secondary  1510.566667 -1854   36686       252.731818
                       tertiary   1846.922294 -6847   98417       249.828203
                       unknown    1862.416058  -353   18347       249.430657
              single   primary     584.421053   -39    4897       169.736842
                       secondary  1166.070671 -1164   20600       251.586572
                       tertiary   1782.460143 -1980  102127       255.088148
                       unknown    1114.090909  -461    6013       247.000000
retired       divorced primary    1160.635593  -779    8434       260.728814
                       secondary  1099.384058  -890    8266       305.884058
                       tertiary   1460.671053 -1598   17875       367.039474
                       unknown    2639.000000   -49    9224       187.222222
              married  primary    1778.961847 -1480   71188       270.471888
                       secondary  2057.992260 -1206   81204       271.162539
                       tertiary   2320.168224  -892   41242       285.336449
                       unknown    1334.876543  -492    9004       303.382716
              single   primary    1771.793103   -79   25824       184.689655
                       secondary  1226.613636  -741   10621       237.863636
                       tertiary   1273.500000     0    7440       255.181818
                       unknown     382.200000    62     588       112.000000
self-employed divorced primary    2625.666667     0   10924       275.666667
                       secondary  1312.618182  -478    8515       286.872727
                       tertiary   2600.913043  -319   52587       301.449275
                       unknown      28.000000    28      28       245.000000
              married  primary    1269.500000  -584   10697       243.446429
                       secondary  1370.079404 -1668   29125       258.352357
                       tertiary   1914.359155 -3313   35589       238.347418
                       unknown    1262.761905  -257   10855       252.047619
              single   primary    1254.666667     0    6056       296.083333
                       secondary  1021.472727  -617   20451       296.636364
                       tertiary   1615.544118  -503   18558       319.161765
                       unknown    1716.538462  -142    7118       272.153846
services      divorced primary     908.864407  -644    8654       235.288136
                       secondary   789.707589 -1730   20541       263.087054
                       tertiary   1116.428571    58    2279       195.142857
                       unknown    1664.578947  -291    6360       309.157895
              married  primary     945.570175 -2122   13118       253.109649
                       secondary  1046.528747 -1621   57435       251.027721
                       tertiary   1085.779070  -780   12223       234.534884
                       unknown    1865.619565 -1085   23592       277.054348
              single   primary    1019.365385  -357    5907       294.519231
                       secondary   844.503612 -1414   19343       267.115583
                       tertiary   1275.091954  -477   10122       312.965517
                       unknown    1297.870968  -501    6145       226.935484
student       divorced primary    2755.000000  2755    2755       177.000000
                       secondary   422.000000   422     422       406.000000
                       tertiary     50.000000     0     100        75.000000
              married  primary    1774.500000    46    3503       259.000000
                       secondary   572.562500     0    1694       295.937500
                       tertiary   1043.750000  -230    4923       289.050000
                       unknown     514.444444    -7    2374       169.888889
              single   primary    1401.275862     0    8278       192.620690
                       secondary  1296.379781  -322   23878       233.923497
                       tertiary   1563.496970  -679   24025       240.460606
                       unknown    1619.308411  -145   10788       230.028037
technician    divorced primary    1457.823529  -834    7290       264.588235
                       secondary   798.850941 -1547   17441       230.214182
                       tertiary   1257.674419 -1455   24055       274.011628
                       unknown    1209.954545   -25    3560       295.409091
              married  primary    1472.250000 -1818   16119       224.466667
                       secondary  1185.337192 -1944   29207       241.910275
                       tertiary   1596.130852 -2827   31630       254.373349
                       unknown    1300.921986 -1136   14533       221.425532
              single   primary    1319.375000   126   11262       260.187500
                       secondary  1125.648998 -1329   31868       262.153200
                       tertiary   1445.141317  -970   34646       269.227545
                       unknown    2546.092308  -301   45248       289.769231
unemployed    divorced primary     499.920000  -249    2244       296.800000
                       secondary  1704.609091  -214   44134       228.254545
                       tertiary   1185.608696  -198    8903       356.695652
                       unknown    1088.000000  1088    1088       749.000000
              married  primary    1642.240506  -581   19102       331.253165
                       secondary  1439.403599  -872   36221       260.948586
                       tertiary   1859.016807  -471   39385       241.226891
                       unknown     859.187500    13    4565       388.312500
              single   primary    1889.213115   -84   15261       289.721311
                       secondary  1179.142012 -1270   19690       298.810651
                       tertiary   1621.696429  -446   23494       330.276786
                       unknown    2721.400000     4   11298       286.600000
unknown       divorced primary    2083.500000     0    3888       247.000000
                       secondary  1975.666667  -295    3111       277.666667
                       tertiary   1560.333333   137    2272       238.666667
                       unknown    1437.857143     0    4244       257.857143
              married  primary    1542.702703     0    8251       229.540541
                       secondary  1297.789474  -208   11285       188.184211
                       tertiary   2312.666667     0    8971       225.666667
                       unknown    2030.056180     0   19706       243.932584
              single   primary    2725.750000    10   13052       168.125000
                       secondary  1040.166667  -274    4465       296.333333
                       tertiary   1808.666667     0    6836       165.333333
                       unknown    1863.761905     0   18881       207.761905

                                                   age
                                  min   max       mean min max
job           marital  education
admin.        divorced primary     17   625  48.103448  30  59
                       secondary    5  1776  42.683360  26  66
                       tertiary    26   690  41.142857  29  61
                       unknown     38  1310  50.277778  37  60
              married  primary      8  1041  46.575342  27  67
                       secondary    6  3284  41.056530  22  66
                       tertiary    11  1138  37.254902  23  61
                       unknown     10  1106  47.521277  25  75
              single   primary     32   670  39.733333  26  53
                       secondary    5  3183  34.463264  20  66
                       tertiary    16  1290  32.004292  21  51
                       unknown     21  1206  37.395349  21  52
blue-collar   divorced primary      7  2456  45.915094  28  61
                       secondary    7  2231  41.481771  24  60
                       tertiary   190   289  41.666667  35  51
                       unknown     17   967  43.921053  27  59
              married  primary      2  3078  43.001730  20  72
                       secondary    3  3366  40.061247  21  75
                       tertiary    22  3422  39.810345  27  60
                       unknown     10  1486  44.493590  26  60
              single   primary      7  2653  35.854331  22  61
                       secondary    5  2260  32.410926  20  59
                       tertiary    11  1422  34.640000  25  55
                       unknown      9  1806  36.536842  23  54
entrepreneur  divorced primary     52   688  48.666667  32  60
                       secondary   10   769  45.492537  30  61
                       tertiary    16  1164  45.234043  29  59
                       unknown    175   988  51.000000  40  59
              married  primary      9  1503  44.980645  29  66
                       secondary    0  1484  42.025510  26  84
                       tertiary     8  2769  42.748869  23  70
                       unknown     10  1403  45.775862  26  60
              single   primary     53  1051  36.000000  23  50
                       secondary   25  1404  34.477612  23  53
                       tertiary     3  1916  35.180451  25  58
                       unknown      9   617  42.500000  27  56
housemaid     divorced primary     21  1558  51.771084  28  82
                       secondary   14  1200  46.358209  32  60
                       tertiary    17   870  49.277778  36  60
                       unknown      8   152  55.000000  49  59
              married  primary     10  2692  47.951579  25  82
                       secondary    7  1576  44.096525  26  78
                       tertiary     8  1391  43.422018  23  62
                       unknown     22   703  51.781250  31  74
              single   primary     10  2093  41.315789  23  56
                       secondary    6  1008  37.500000  22  59
                       tertiary    30  1461  35.939394  27  58
                       unknown     24   376  54.666667  35  69
management    divorced primary     13   508  50.320000  32  60
                       secondary   10  1973  45.963504  28  60
                       tertiary     4  2087  44.959862  26  67
                       unknown      7  1508  49.379310  35  60
              married  primary      0  1550  48.837398  25  80
                       secondary    6  3881  43.792424  24  73
                       tertiary     4  2870  41.847319  23  81
                       unknown      7  1103  47.350365  24  77
              single   primary      9   475  41.210526  26  56
                       secondary    5  2770  35.473498  21  59
                       tertiary     5  1914  34.471953  21  66
                       unknown     10  1041  38.090909  23  58
retired       divorced primary     10  1448  62.720339  39  95
                       secondary    8  2055  59.028986  37  94
                       tertiary     8  1357  58.907895  46  82
                       unknown     96   259  71.000000  58  86
              married  primary      7  2187  60.445783  33  87
                       secondary   11  2635  59.119195  33  95
                       tertiary    12  2027  61.630841  39  89
                       unknown     31  1348  63.777778  38  92
              single   primary      9  1003  53.517241  35  83
                       secondary   20  1063  51.727273  24  86
                       tertiary    63   847  59.272727  36  72
                       unknown     45   212  56.800000  38  72
self-employed divorced primary    106   642  48.333333  32  56
                       secondary   12  1584  44.072727  26  62
                       tertiary    11  1723  44.927536  32  61
                       unknown    245   245  34.000000  34  34
              married  primary     16  1438  45.428571  30  60
                       secondary    8  1865  43.024814  26  71
                       tertiary     7  3322  41.875587  25  72
                       unknown     44   933  48.333333  30  75
              single   primary     18  1307  42.333333  30  59
                       secondary    8  1707  35.118182  24  60
                       tertiary    13  3253  33.040441  24  60
                       unknown     13   795  35.615385  24  53
services      divorced primary      8  1156  47.101695  26  60
                       secondary    5  3094  42.279018  25  60
                       tertiary    29   662  44.000000  32  56
                       unknown     61  1409  44.684211  31  57
              married  primary      6  1934  44.543860  22  62
                       secondary    5  1971  40.069815  21  60
                       tertiary     9   912  39.255814  24  60
                       unknown      8  1812  44.673913  27  69
              single   primary      6  1576  36.461538  22  60
                       secondary    8  1882  32.776058  20  59
                       tertiary    11  2219  31.873563  23  47
                       unknown     10  1132  35.064516  23  51
student       divorced primary    177   177  35.000000  35  35
                       secondary  406   406  33.000000  33  33
                       tertiary    50   100  36.000000  35  37
              married  primary     31   487  33.500000  31  36
                       secondary   12   929  33.375000  26  41
                       tertiary    52  1024  29.300000  23  36
                       unknown     41   385  31.222222  20  42
              single   primary     25   819  22.068966  18  34
                       secondary   10  1730  25.622951  18  41
                       tertiary    10  1571  28.036364  20  39
                       unknown     12  2429  27.803738  18  48
technician    divorced primary      8   977  47.882353  33  60
                       secondary    1  2150  43.400868  25  61
                       tertiary     7  1992  42.645349  25  60
                       unknown     24  1419  46.045455  33  56
              married  primary     11  1332  47.775000  28  61
                       secondary    0  2775  41.779305  23  70
                       tertiary     8  4918  40.153661  25  71
                       unknown      7  1018  46.085106  25  60
              single   primary     10  1096  40.812500  24  60
                       secondary    4  2420  33.993536  21  60
                       tertiary     2  2516  33.657485  21  60
                       unknown      6  1623  37.123077  21  55
unemployed    divorced primary     12   924  44.880000  31  58
                       secondary    2   918  45.663636  30  60
                       tertiary    31  1960  41.130435  29  56
                       unknown    749   749  50.000000  50  50
              married  primary      5  3025  44.708861  26  63
                       secondary   13  1855  43.429306  21  62
                       tertiary     7   988  40.890756  25  65
                       unknown     26   810  45.375000  32  57
              single   primary      7  1060  37.967213  23  66
                       secondary   11  1606  33.946746  21  59
                       tertiary    11  1837  34.303571  24  60
                       unknown     35   680  39.700000  29  59
unknown       divorced primary    119   422  43.250000  35  56
                       secondary  111   556  47.333333  26  58
                       tertiary    88   385  46.000000  31  54
                       unknown     67   626  59.428571  45  82
              married  primary     19   759  48.216216  35  60
                       secondary   13   891  46.342105  31  63

In [34]:
# Defining Personas

agg_df = df.groupby(["job","marital","education","age"]).agg({"balance" : "mean",
                                                              "last_transaction" : "mean"})

agg_df = agg_df.reset_index()

age_list = ["0_17","18_24","25_34","35_44","45_54","55_69","70_90"]
agg_df["age_cat"] = pd.cut(agg_df["age"], [0,18,25,35,45,55,70,90], labels = age_list)

In [35]:
# Creating Rule-Based Personas

agg_df["customer_level_based"] = [row[0].upper()+"_"+ row[1].upper()+"_"+ row[2].upper()+"_"+ str(row[6]).upper() for
                                  row in agg_df.values]


del_list = ["job", "marital", "education", "age", "age_cat"]

agg_df.drop(del_list, axis=1, inplace=True)

agg_df = agg_df.groupby(agg_df["customer_level_based"]).agg({"balance": "mean",
                                                             "last_transaction" : "mean" }).sort_values(("balance"),
                                                                                                        ascending=False)
agg_df.reset_index(inplace=True)

In [39]:
# Rule-Based Segmentation
agg_df["segment"]= pd.qcut(agg_df["balance"], 4, labels=["D","C","B","A"])

seg= agg_df.groupby(agg_df["segment"]).agg({"balance" : ["mean", "max", "sum"],
                                            "last_transaction" : ["mean", "max", "min"]})


seg.head().sort_values(("segment"),ascending=False)
seg.reset_index(inplace=True)

In [40]:
# Prediction

lost_customer = "SERVICES_SINGLE_SECONDARY_45_54"

agg_df[agg_df["customer_level_based"] == lost_customer]
seg.head()

  segment      balance                              last_transaction          \
                  mean           max            sum             mean     max
0       D   295.233459    596.875000   44875.485775       264.130578  1037.0
1       C   867.939523   1122.833024  131058.867986       279.410005  1274.0
2       B  1439.795787   1780.000000  217409.163868       265.940651   999.0
3       A  2956.501304  11298.000000  449388.198138       268.486626   662.5


    min
0  10.0
1   8.0
2  71.5
3  15.0